body {
    width: 100%;
}
li {
    list-style: none;
}

.prikaz-centar {
    
    margin: auto;
    width: 65%;
}

.forma {
    
    margin: auto;
    margin-top: 3%;
    width: 65%;
    padding: 10%;
    border: 1px solid black;
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    .forma {
        width: 80%;
    }

    .prikazKnjige {
        width: 80%;
    }
}

@media only screen and (max-width: 450px) {
    .forma {
        width: 100%;
    }
    .prikazKnjige {
        width: 100%;
    }
}

.crna-slova {
    color:black;
}

.welcome-message {
    padding: 20% 30% 20% 20%;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 2px 2px white;
    color:   black;
      
}   

.welcome-image {
    background-image: url("./images/welcome.jpg");
    
}

.prikazKnjige {
    margin: 2% auto;
    padding: 2%;
    width: 65%;
    border: 1px solid black;
    border-radius: 8px;
}

.prikazKnjige:hover {
    background-color:lightgray;
}

.labela {
    margin-right: 7px;
}
